/* {
    height:100%;
    width:100%;
} */
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-direction: column;
}
#box{
    height:200px;
    width:200px;
    background-color: rgb(30,200,200);
    border-radius: 10px;
    border: 6px solid white;
}

button{
    padding:10px 20px;
    font-size: 20px;
}
button:active{
    scale:0.95;
}